@media (min-width: 768px) {
  .form-area {
      width: 100%;
  }
  .form-search {
      width: 100%;
      display: table;
      color: #fff;
      text-align: center;
  }
  .form-search > *{
      display: table-cell;
  }
  .form-search > strong {
      display: inline-block;
  }
  .form-search > .form-control {
      width: 50%;
  }
}

.pokeball img {
    overflow: hidden;
    width: 100%;
    position: relative;
    z-index: 2;
}

.pokeball {
  position: relative;
  display: inline-block;
  background: linear-gradient(rgba(255,0,0,1) 50%, rgba(255,255,255,1) 50%);
  border-radius: 100%;
  border: 2px solid #000;
}

.pokeball:after {
  content: '';
  position: absolute;
  background-color: #000;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  border-radius: 100%;
  box-shadow: 0px 0px 0px 2px #fff,
              0px 0px 0px 4px #000;
}

.pokeball:before {
  content: '';
  position: absolute;
  background-color: #000;
}

.abilities li strong {
  text-transform: capitalize;
}

.error {
  margin-top: 15px;
}

.pokemon-body {
  border-color: #28a745 !important;
  padding: 20px;
}

@media (max-width: 767px) {
  .form-area,
  .form-search {
      width: 100%;
  }

  .form-search>strong {
      margin-bottom: 10px;
      display: block;
  }
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 {
  color: rgba(255, 255, 255, .5);
}

.bg-purple {
  background-color: #fff;
  border: 1px solid #28a745 !important;
}

.load-more {
  display: block;
  margin-top: 15px;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.lh-150 {
  line-height: 1.5;
}
